BODY {
	font-size: 16px;
	line-height: 26px;
	background-color: #D0B0E0;
	letter-spacing: 2px;
	word-spacing: 2px;
}

A {color: #A040A0;text-decoration: none}
A:active {color: #FFFFFF}
A:hover {color: #FFFFFF}

H1 {
	color: #304080;
	font-size: 36px;
	line-height: 50px;
	font-weight: 900;
}

H2 {
	color: #802040;
	font-size: 30px;
	line-height: 26px;
	font-weight: 900;
}

P {
	line-height: 135%;
	text-indent:5%;
	margin-right:5%;
	margin-left:5%;
}

A {
	font-weight: 900;
}