BODY {
	background-color: #E0E0E0;
}

A:link {color: #604040; text-decoration: none}
A:visited {color: #406040; text-decoration: none}
A:active {color: #FFFFFF; text-decoration: none}
A:hover {color: #FFFFFF; text-decoration: none}

H1 {
	color: #304080;
	font-size: 48px;
	line-height: 50px;
	font-weight: 900;
}

H2 {
	color: #008040;
	font-size: 30px;
	line-height: 32px;
	font-weight: 900;
}

P {
	line-height: 135%;
	text-indent:5%;
	margin-right:5%;
	margin-left:5%;
}

A {
	font-weight: 900;
}